$orange: #FF8D24;
$yellow: #FEC538;
$yellow-light: #FFDA80;
$red: #FF0000;
$blue: #4EAAFF;
$purple-blue: #6C89FFFF;
$purple-blue2: #7899FFFF;
$light-blue: #66EDFF;
$darker-blue: #495EEE;
$dark-blue: #4D5E82;
$grey-blue: #617398;
$black-blue: #121826;
$green: #00CA14FF;
$white: #ffffff;
$white-smoky: #E1E1E1;
$grey: #CDCDCD;
$grey-darker: #999B9DFF;
$dark-grey: #6C727F;
$black: #000000;
$black60: #00000099;
$black40: #00000066;
$black20: #00000033;
